In [1]:
my_list = [('sachin tendulkar' , 34357) , ('ricky ponting' , 27483) , ('jack kallis' , 25534) , ('virat kohli' , 24936)]
sorted_list = sorted(my_list , key=lambda x: x[0])
print(sorted_list)

[('jack kallis', 25534), ('ricky ponting', 27483), ('sachin tendulkar', 34357), ('virat kohli', 24936)]

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]
string_tuple = tuple(map(lambda x:str(x) , my_list))
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [7]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list= list(map(lambda x: x**2 , my_list))
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
from functools import reduce 
my_list = list(range(1 , 25))
product = reduce(lambda x , y: x * y , my_list)
print(product)

620448401733239439360000

In [10]:
my_list = [2,3,6,9,27,60,90,120,55,46]
divisible_by_2_and_3 = list(filter(lambda x: x%2 == 0 and x%3 == 0 , my_list))
print(divisible_by_2_and_3)

[6, 60, 90, 120]

In [11]:
my_list = ['python','php','aba','radar','level']
palindromes = list(filter(lambda x: x == x[::-1], my_list))
print(palindromes)

['php', 'aba', 'radar', 'level']